<div class="container-fluid inbox-container">

  <!-- ================= DESKTOP ================= -->
  <div class="row inbox-row d-none d-lg-flex">

    <!-- sidebar -->
    <div class="col-2">
      <app-inbox-sidebar></app-inbox-sidebar>
    </div>

    <!-- conversations -->
    <div class="col-3">
      <app-conversations></app-conversations>
    </div>

    <!-- chat -->
    <div class="col">
      <app-chat-window></app-chat-window>
    </div>

    <!-- contact panel -->
    @if (state.isRightPanelOpen() || isClosingPanel) {

      <div class="col-3 contact-panel-anim"
      [class.panel-closing]="isClosingPanel"
       [class.panel-opening]="!isClosingPanel">

        @if (state.activeRightPanel() === 'contact') {
          <app-contact-panel></app-contact-panel>
        }

        @if (state.activeRightPanel() === 'calls') {
          <div class="p-3">Historial llamadas</div>
        }

        @if (state.activeRightPanel() === 'notes') {
          <div class="p-3">Notas</div>
        }

      </div>

    }

    <!-- right toolbar -->
    <div class="col-auto p-0">
      <app-right-toolbar></app-right-toolbar>
    </div>

  </div>

  <!-- ================= MOBILE ================= -->
  <div class="mobile-views d-lg-none">

  <div class="mobile-view conversations"
       [class.active]="state.mobileView() === 'conversations'">
    <app-conversations></app-conversations>
  </div>

  <div class="mobile-view chat"
       [class.active]="state.mobileView() === 'chat'">
    <app-chat-window></app-chat-window>
  </div>

  <div class="mobile-view contact"
       [class.active]="state.mobileView() === 'contact'">
    <app-contact-panel></app-contact-panel>
  </div>

</div>

<!-- MOBILE NAV -->
<app-mobile-bottom-nav></app-mobile-bottom-nav>