<div class="container-fluid inbox-container">

  <div class="row inbox-row">

    <!-- sidebar -->

    <div
      class="col-2 d-none d-lg-block"
    >
      <app-inbox-sidebar></app-inbox-sidebar>
    </div>


    <!-- conversations -->

    <div
      class="col-12 col-lg-3"
      [class.d-none]="state.mobileView() !== 'conversations' && isMobile"
    >
      <app-conversations></app-conversations>
    </div>


    <!-- chat -->

    <div
      class="col-12 col-lg"
      [class.d-none]="state.mobileView() !== 'chat' && isMobile"
    >
      <app-chat-window></app-chat-window>
    </div>


    <!-- contact panel -->

    @if (state.isRightPanelOpen()) {

      <div class="col-3">

        @if (state.activeRightPanel() === 'contact') {
          <app-contact-panel></app-contact-panel>
        }

        @if (state.activeRightPanel() === 'calls') {
          <div class="p-3">Historial llamadas</div>
        }

        @if (state.activeRightPanel() === 'notes') {
          <div class="p-3">Notas</div>
        }

      </div>

    }


    <!-- right toolbar -->

    <div class="col-auto p-0 d-none d-lg-block">
      <app-right-toolbar></app-right-toolbar>
    </div>

  </div>

</div>


<!-- mobile -->

<app-mobile-bottom-nav></app-mobile-bottom-nav>