<div class="mobile-nav">

  <button
  [class.active]="state.mobileView() === 'conversations'"
  (click)="state.setMobileView('conversations')">
  📥
  <span>Buzón</span>
</button>

  <button
    [class.active]="state.mobileView() === 'conversations'"
    (click)="state.setMobileView('conversations')">
    💬
    <span>Convers.</span>
  </button>

  <button
    [class.active]="state.mobileView() === 'chat'"
    (click)="state.setMobileView('chat')">
    🧑‍⚕️
    <span>Chat</span>
  </button>

</div>