<div class="login-wrapper">
  <div class="login-panel">
    <h1>Inicio de Sesión</h1>
    <p class="subtitle">Inicia sesión con tu cuenta</p>

    <form cForm (ngSubmit)="onSubmit()">
      <div class="field-group">
        <label class="field-label">EMAIL</label>
        <input
          [(ngModel)]="username"
          name="username"
          autoComplete="username"
          cFormControl
          placeholder="Usuario"
          class="dark-input"
        />
      </div>

      <div class="field-group">
        <label class="field-label">CONTRASEÑA</label>
        <input
          [(ngModel)]="password"
          name="password"
          autoComplete="current-password"
          type="password"
          cFormControl
          placeholder="••••••••"
          class="dark-input"
        />
      </div>

      <div class="row-options">
        <label class="remember-label">
          <input type="checkbox" /> Recuérdame
        </label>
        <button cButton class="forgot-btn" color="link" type="button">
          ¿Olvidaste tu constraseña?
        </button>
      </div>

      <button cButton class="login-btn" type="submit">
        INICIAR SESIÓN 
      </button>

      

    </form>
  </div>

  <div class="image-panel">
    
    <div class="fern-overlay"></div>
  </div>
</div>